<div class = "reservation_form">
<%= simple_form_for(@reservation) do |f| %>

    <%= f.input :name %>
    <%= f.input :last_name %>
    <%= f.input :mail %>
    <%= f.input :phone %>
    <%= f.input :address %>
    <%= f.input :date %>
    <%= f.association :party %>
    <%= f.association :experiments , as: :check_boxes %> 

    <br />
    <%= f.button :submit %>

<% end %>
</div>