<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :addres %><br />
    <%= f.text_field :addres %>
  </div>
  <div class="field">
    <%= f.label :district_id %><br />
    <%= f.number_field :district_id %>
  </div>
  <div class="field">
    <%= f.label :availability %><br />
    <%= f.number_field :availability %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
